*{
  font-family: '나눔고딕';
}

a:link { color: white; text-decoration: none;}
a:visited { color: white; text-decoration: none;}
a:hover { color: dimgray; text-decoration: none;}

html, body, main, section {
  height: 100%;
  width: 100%;
}
body {
  background: #f8f8f8
}
.container {
  display: flex;
  flex-direction: column;
}

.upperbar>ul {
  display: flex;
}

.content {
  display: flex;
}
nav {
  flex-direction: column;
  position: fixed;
  background: #22b8cf;
  color: white;
  display: flex;
  width: 370px;   
  height: 100%;
  font-size: 18px;
  line-height: 2.0em;
  margin-left: -10px;
  padding-top: 0em;
  margin-top: -10px;
}
ul {
  list-style: none;
}


@media (min-width: 800px){
  .upperbar, header{
      display: none;
  }
}

@media (max-width: 800px){
  nav {
      display: none;
  } 

}

@media (min-width: 800px) {
  td{
    padding-left: 10px;
    background: white;
    border: 1;
    line-height: 2.3;
  }
  
  table{
    border-radius: 5px;
    border-color: rgba(105, 105, 105, 0.1);
  }

  #latest{
      position: fixed;
      color: #333;
      top: 20px;
      margin-left: 400px;
  }
  
  #popular {
      position: fixed;
      left: 820px;
      top: 20px;
  }
  
  #qna {
      position: fixed;
      margin-left: 400px;
      top: 490px;
  }
  
  .majors {
      position: fixed;
      left: 820px;
      top: 510px;
      border-radius: 10px;
  }
  
  #softWare, #CE, #BD, #AI {
      padding-top: 40px;
      text-align: center;
      border: 1px solid lightcyan;
      background: lightcyan;
      width: 178px;
      height: 60px;
      position: relative;
      font-weight: bold;
      color: dimgray;
      box-shadow: 1px 1px 0.5px gainsboro;
  }
  
  #CE {
      left: 188px;
      bottom: 102px;
  }
  
  #AI {
      bottom: 98px;
  }
  
  #BD {
      bottom: 199px;
      left: 188px;
  }
}

@media (max-width: 800px){
  nav{
      display: none;
  } 
  .majors {
      display: none;
  }
  #latest, #popular, #qna{
      color: dimgray;
      padding-left: 20px;
      border-radius: 5px;
  }
  td{
    padding-left: 10px;
    background: white;
    border: 1;
    line-height: 2.3;
  }
  
  table{
    border-radius: 5px;
    width: 90%;
    border-color: rgba(105, 105, 105, 0.1);
    margin: 3% 2.5%;
  }
}

.upperbar{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 18px;
  font-weight: solid;
  justify-content: space-around;
  padding-right: 40px;
  padding-top: 10px;
  cursor: pointer;
}

header {
  background: #22b8cf; 
  width: auto;
  margin-left: -10px;
  margin-top: -10px;
  height: 75px;
}

.submenu {
  height: auto;
  width: 25%;
  background: #22b8cf; 
  color: white;
  position: absolute;
  z-index: 1;
  top: 70px;
  line-height: 2.5em;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 16px;
}


.slide-enter {
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

